<%- partial('post/scroll-button') %>
    <footer class="blog-footer" id="blog-footer">
        <div id="footer-info" class="inner">
            Made with ♥ by <a href="https://israel-liu.github.io/" target="_blank">theForger</a>
        </div>
    </footer>
    <script src="/js/sidebar.js"></script>
    <script src="/js/toTop.js"></script>
